@model DCC_Planned_Derived_Ventures.Models.Itinerary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Itinerary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilesAroundRoute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilesAroundRoute)
        </dd>




    </dl>

    @foreach (var address in Model.Addresses)
    {
        if (Model.DestinationId == address.ID)
        {
            <div class="text-bold">
                <h4>Destination Address</h4>

                @Html.DisplayFor(item => address.AddressLine)
                @Html.DisplayFor(item => address.City.name)
                @Html.DisplayFor(item => address.State.name)
                @Html.DisplayFor(item => address.ZipCode.ZipCode)
            </div>
        }
        else if (Model.DestinationId != address.ID)
        {

            @Html.DisplayFor(item => address.AddressLine)
            @Html.DisplayFor(item => address.City.name)
            @Html.DisplayFor(item => address.State.name)
            @Html.DisplayFor(item => address.ZipCode.ZipCode)
        }
    }

    <br />  
    <div class="row">

        <div class="col-md-7 ">

            <h4>View Places By Categories: </h4>
            <div class="row my-2">
                <div class="col-sm-6">
                    <div class="card text-white bg-primary">
                        <div class="card-body text-center">
                            <h4 class="card-title p2 mt-2 mb-4">Attractions &nbsp;<i class="fas fa-magnet"></i> </h4>

                            <a href="@Url.Action("PlaceSubCategories","Itineraries",new { itineraryID = Model.ID, mainCat = "attractions" })" class="btn btn-outline-light btn-lg mb-1"> &nbsp; View &nbsp; <i class="fas fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-white bg-primary">
                        <div class="card-body text-center">
                            <h4 class="card-title p2 mt-2 mb-4">Food &nbsp;<i class="fas fa-utensils"></i> </h4>

                            <a href="@Url.Action("PlaceSubCategories","Itineraries",new {itineraryID = Model.ID, mainCat = "food" })" class="btn btn-outline-light btn-lg mb-1"> &nbsp; View &nbsp; <i class="fas fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <p>
        <a class="nav-link" href="@Url.Action("Edit", "Itineraries", new { id = Model.ID })">  <i class="fas fa-edit"></i> </a>
        
    </p>
