@model DCC_Planned_Derived_Ventures.Models.Itinerary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Itinerary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilesAroundRoute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilesAroundRoute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartAddressID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartAddressID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
