@model IEnumerable<DCC_Planned_Derived_Ventures.Models.Itinerary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilesAroundRoute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartAddressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilesAroundRoute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartAddressID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
