@model IEnumerable<DCC_Planned_Derived_Ventures.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.abbrev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.abbrev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
